section.skillsRating.section {
  padding: 1.5rem 0;
}

section.skillsRating.section .section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: var(--mb-3);
}

section.skillsRating.section .grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 968px) {
  section.skillsRating.section .section-title {
    text-align: initial;
  }
}

section.skillsRating.section .grid {
  display: grid;
  gap: 1.5rem;
}

section.skillsRating.section .flex-between {
  display: flex;
  justify-content: space-between;
}

section.skillsRating.section .skillsRating__container {
  grid-template-columns: repeat(2, 1fr);
}

section.skillsRating.section .skillsRating__container .skill_label {
  margin-bottom: 0.5rem;
}

section.skillsRating.section .skillsRating__container .skill-bar {
  width: 100%;
  background-color: #9b9b9b;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  overflow: hidden;
}

section.skillsRating.section .skillsRating__container .skill-progress {
  height: 100%;
  text-align: right;
  padding: 5px;
  color: #fff;
  background-color: #424242;
}
