main.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

body .appContainer {
  margin: 0 0 var(--header-height) 0;
}

@media screen and (min-width: 968px) {
  main.container {
    margin-left: auto;
    margin-right: auto;
  }
  body .appContainer {
    margin: 3rem 0;
  }
}
