body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

/* -----------------------------------------cv-adjust------------------------------------------ */

/* ----------------------------resume__left---------------------------- */

body.cv-adjust .resume .resume__left section .section-title {
  font-size: 1.08rem;
}

/* -------------home--------------- */

body.cv-adjust .resume .resume__left section#home > :is(svg, i) {
  display: none;
}

body.cv-adjust
  .resume
  .resume__left
  section#home
  .section.home__container
  .home__profession {
  margin-bottom: 0;
}

body.cv-adjust
  .resume
  .resume__left
  section#home
  .section.home__container
  .home__address {
  gap: 0.7rem;
}

body.cv-adjust .resume .resume__left section#home .home__container.section {
  padding: 1.5rem 0 1rem 0;
}

body.cv-adjust
  .resume
  .resume__left
  section#home
  .section.home__container
  .home__data {
  gap: 0rem;
}

/* -------end------home--------end------- */
/* -------------social--------------- */

body.cv-adjust .resume .resume__left section.social.section {
  padding: 0.7rem 0 1rem 0;
}

body.cv-adjust .resume .resume__left section.social.section .section-title {
  margin-bottom: 0.7rem;
}

body.cv-adjust .resume .resume__left section.social.section .social__container {
  gap: 0.7rem;
  display: flex;
}

body.cv-adjust
  .resume
  .resume__left
  section.social.section
  .social__container
  > hr {
  width: auto !important;
}

body.cv-adjust
  .resume
  .resume__left
  section.social.section
  .social__container
  > a
  > span {
  display: none;
}

/* ------end-------social--------end------- */
/* -------------profile--------------- */

body.cv-adjust .resume .resume__left section#profile.section {
  padding: 0.7rem 0 1rem 0;
  display: none;
}

body.cv-adjust .resume .resume__left section#profile.section .section-title {
  margin-bottom: 0.7rem;
}

/* -------end------profile-------end-------- */
/* -------------education--------------- */

body.cv-adjust .resume .resume__left section#education.section {
  padding: 0.7rem 0 1rem 0;
}

body.cv-adjust .resume .resume__left section#education.section .section-title {
  margin-bottom: 0.7rem;
}

body.cv-adjust
  .resume
  .resume__left
  section#education.section
  .education__data {
  gap: 0.2rem;
}

body.cv-adjust
  .resume
  .resume__left
  section#education.section
  .education__container.grid {
  gap: 1rem;
}

/* -------end-------education--------end------ */
/* --------------skills-------------- */

body.cv-adjust .resume .resume__left section#skills.section {
  padding: 0;
  padding-top: 0.7rem 0 1rem 0;
}

body.cv-adjust .resume .resume__left section#skills.section .section-title {
  margin-bottom: 0.7rem;
}

body.cv-adjust .resume .resume__left section#skills.section li.skills__name {
  font-size: 0.79rem;
  position: relative;
  margin-bottom: 1.3rem;
}

body.cv-adjust
  .resume
  .resume__left
  section#skills.section
  .skills__name.havingPercent::after {
  content: attr(data-percent);
  position: absolute;
  top: -8px;
  right: -8px;
  background: #707070;
  display: block;
  padding: 1.5px 5.5px;
  border-radius: 10px;
  font-size: 0.6rem;
  letter-spacing: 0;
}

/* -------end-------skills--------end------ */

/* ------------end----------------resume__left--------------end-------------- */

/* ----------------------------common---------------------------- */

/* --------------experience-------------- */

body.cv-adjust .resume section#experience.section {
  padding: 0.5rem 0;
}

body.cv-adjust .resume section.section .section-title {
  font-size: 1.08rem;
  margin-bottom: 0.7rem;
}

body.cv-adjust .resume section#experience.section .experience__data {
  gap: 0.2rem;
}

/* -------end-------education--------end------ */

/* ------------end----------------common--------------end-------------- */

/* ----------------------------resume__right---------------------------- */

/* --------------certificatesAndCourses-------------- */

body.cv-adjust .resume .resume__right section#certificatesAndCourses.section {
  padding: 0.7rem 0 1rem 0;
  display: none;
}

body.cv-adjust
  .resume
  .resume__right
  section#certificatesAndCourses.section
  .grid {
  gap: 0.4rem;
}

body.cv-adjust
  .resume
  .resume__right
  section#certificatesAndCourses.section
  .certificatesAndCourses_icon {
  display: none;
}

/* -------end-------certificatesAndCourses-------end------- */
/* --------------languages-------------- */

body.cv-adjust .resume .resume__right section#languages.section {
  padding: 0.5rem 0 0.2rem 0;
  display: none;
}

/* -------end-------languages-------end------- */
/* --------------interests-------------- */

body.cv-adjust .resume .resume__right section#interests.section {
  padding: 0.5rem 0 0.2rem 0;
  display: none;
}

body.cv-adjust
  .resume
  .resume__right
  section#interests.section
  .interests__content
  > svg {
  display: none;
}

/* -------end-------interests------end-------- */

/* --------------skillsRating-------------- */

body.cv-adjust .resume .resume__right section#skillsRating.section {
  padding: 0.5rem 0 0.2rem 0;
  display: none;
}

body.cv-adjust
  .resume
  .resume__right
  section#skillsRating.section
  .skillsRating__container {
  gap: 0rem 2rem;
}

/* -------end-------skillsRating-------end------- */
/* --------------personalProjects-------------- */

body.cv-adjust .resume .resume__right section#personalProjects.section {
  padding: 1.5rem 0 1rem 0;
}

body.cv-adjust
  .resume
  .resume__right
  section#personalProjects.section
  .project:nth-child(2)
  > div
  > p:last-child {
  margin-bottom: 0.2rem;
}

body.cv-adjust
  .resume
  .resume__right
  section#personalProjects.section
  .section-title {
  margin: 0;
}

body.cv-adjust
  .resume
  .resume__right
  section#personalProjects.section
  .project
  h3 {
  margin: 0;
  font-size: 15.5px;
}

body.cv-adjust
  .resume
  .resume__right
  section#personalProjects.section
  .project
  > div
  > p:nth-child(2) {
  display: none;
}

/* -------end-------personalProjects-------end------- */
/* --------------projects-------------- */

body.cv-adjust .resume .resume__right section#projects.section {
  padding: 0.8rem 0 1rem 0;
}

body.cv-adjust
  .resume
  .resume__right
  section#projects.section
  .project:nth-child(2)
  > div
  > p:last-child {
  margin-bottom: 0.2rem;
}

body.cv-adjust .resume .resume__right section#projects.section .section-title {
  margin: 0;
}

body.cv-adjust .resume .resume__right section#projects.section .project h3 {
  margin: 0;
  font-size: 15.5px;
}

body.cv-adjust
  .resume
  .resume__right
  section#projects.section
  .project
  > div
  > p:nth-child(2) {
  display: none;
}

/* -------end-------projects-------end------- */

/* --------------end--------------resume__right---------------end------------- */

/* --------------------end---------------------cv-adjust-----------------------end------------------- */
