section.social.section {
  padding: 1.5rem 0;
}

section.social.section .grid {
  display: grid;
  gap: 1.5rem;
}

section.social.section .section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: var(--mb-3);
}

section.social.section .social__container {
  grid-template-columns: max-content;
  gap: 1rem;
}

section.social.section .social__container .social__link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  gap: 0.25rem;
}

section.social.section .social__container .social__link:hover {
  color: var(--title-color);
}

section.social.section .social__container .social__link .social__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
