section.experience.section {
  padding: 1.5rem 0;
}

section.experience.section .section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: var(--mb-3);
}

section.experience.section .grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 968px) {
  section.experience.section .section-title {
    text-align: initial;
  }
}

section.experience.section .experience__content {
  display: flex;
}

section.experience.section .experience__time {
  padding-right: 1rem;
}

section.experience.section .experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

section.experience.section .experience__line {
  display: block;
  width: 2px;
  height: 110%;

  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

section.experience.section .experience__data {
  gap: 0.5rem;
}

section.experience.section .experience__designation {
  font-size: var(--h3-font-size);
}

section.experience.section .experience__company_name_and_duration {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

section.experience.section .experience__data > span {
  font-size: 0.8rem;
}
