section.personalProjects.section {
  padding: 1.5rem 0;
}

section.personalProjects.section .grid {
  display: grid;
}

section.personalProjects.section .section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin-bottom: 0.55rem !important;
}

@media screen and (min-width: 968px) {
  section.personalProjects.section .section-title {
    text-align: initial;
  }
}

section.personalProjects.section .project > div {
  margin-left: 20px;
}

section.personalProjects.section .project p {
  font-size: 13px;
  margin-bottom: 10px;
}

section.personalProjects.section .project ul {
  list-style-type: disc;
  margin-left: 20px;
}

section.personalProjects.section .project ul li {
  font-size: 11px;
  margin: 5px 0;
}

section.personalProjects.section .project h3 {
  font-size: 18px;
  margin: 10px 0;
}

section.personalProjects.section
  .personalProjects__container
  .personalProjects__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-style: italic;
}

section.personalProjects.section
  .personalProjects__container
  .personalProjects__link:hover {
  color: var(--title-color);
}
