@media screen and (min-width: 968px) {
  .resume {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
}
